<div style="margin: 0 30px;">
  <h1>Create user</h1>
 <%= form_for @user do |f| %>
  <%= f.text_field :login, placeholder: 'login', required: true %>
  <%= f.text_field :firstname, placeholder: 'fn', required: true %>
  <%= f.text_field :lastname, placeholder: 'ln', required: true %>
  <%= f.submit class: 'btn btn-success', style: 'margin-bottom : 10px;' %>
  <%= link_to('<span class="btn" style="margin-bottom: 10px;">Cancel</span>'.html_safe, users_path)%>
<% end %>
</div>