<!DOCTYPE html>
<html>
<head>
  <title>Planner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px;">

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <a class="brand" href="#" style="margin-left: 10px;">Planner</a>
  <ul class="nav">
      <li> 
      	<%= link_to tasks_path do %>
      	  <i class="icon-tasks"></i>
      	  Tasks
      	<% end %>
      </li>
      <li> 
        <%= link_to users_path do %>
          <i class="icon-user"></i>
          Users
          <% end %>
      </li>
  </ul>
  <ul class="nav pull-right">
      <li>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class="icon-off"></i> 
          Logout
        <% end %>
      </li>
  </ul>  
  
</div>
</div>
<%= yield %>

</body>
</html>
